<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="shortcut icon" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/x-icon" href="/img/favicon-32x32.png">
    <link rel="shortcut icon" href="/img/favicon-32x32.png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Alt Repeat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
    <div class="container my-5">
        <header class="d-flex flex-column flex-lg-row align-items-center justify-content-between mb-4">
            <!-- Home Logo and Title -->
            <div class="d-flex align-items-center mb-3 mb-lg-0">
                <a href="/" class="text-decoration-none d-flex align-items-center">
                    <i class="bi bi-house-door-fill me-2"></i> <!-- Home icon -->
                    <h1 class="display-6 mb-0">
                        <span class="text-nowrap">Control Alt Repeat</span>
                        <span class="text-nowrap">Warehouse</span>
                    </h1>
                </a>
            </div>
        
            <!-- Search Box -->
            <div x-data="lookup()" class="input-group mb-3" style="max-width:175px">
                <input type="text" x-model="id" class="form-control" x-on:input="formatId()" placeholder="ABC-123..." aria-label="Find">
                <button @click="window.location.href = '/item-lookup?id=' + id" class="btn btn-outline-secondary" type="button">Find</button>
            </div>
        </header>
              
        <main>
            <div x-data="{ errorMessage: '', showError: false }">
            <!-- Bootstrap Alert -->
            <div class="alert alert-danger alert-dismissible fade show col-12 col-md-6 mx-auto p-4" role="alert" x-show="showError" x-text="errorMessage">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{ .content }} <!-- Placeholder for the content of each page -->
        </main>
        <footer class="text-center mt-4">
            <p>&copy; 2024 Control Alt Repeat. All rights reserved.</p>
        </footer>
    </div>
    <script>
    function lookup() {
        return {
            id: "",
            item: null,
            init() {
                const urlParams = new URLSearchParams(window.location.search);
                this.id = urlParams.get('id') || '';
            },
            formatId() {
                this.id = this.id
                    .trim()
                    .toUpperCase()
                    .replace(/[^A-Z0-9-]/g, '')
                    .slice(0, 7)
            }
        }
    }
    </script>
</body>
</html>
