<div x-data="page()">
    <template x-for="item in sortedItems()" :key="item.id">
        <div class="col-12 mb-3">
            <div class="card h-100 shadow-sm">
                <div class="card-body d-flex flex-column flex-md-row align-items-start">
                    <div class="flex-grow-1">
                        <h6 class="card-title">
                            <a :href="'/item-lookup?id=' + item.id"><span x-text="item.id"></span> (<span x-text="item.shelf"></span>)</a>
                        </h6>
                        <p class="card-text col-12 text-muted">
                            <span x-text="item.title"></span>
                        </p>
                    </div>
                    <div class="w-100 w-md-auto">
                        <div class="btn-toolbar justify-content-start justify-content-md-end" role="toolbar">
                            <div class="btn-group btn-group-sm btn-group-md" role="group">
                                <!-- Steps -->
                                <button type="button" class="btn btn-sm me-1" :class="{
                                    'btn-outline-secondary': item.ebayListingURL === '',
                                    'btn-success': item.ebayListingURL !== '',
                                }" :title="item.ebayListingURL || ''"
                                @click="window.location.href = item.ebayListingURL">
                                <i class="bi-clipboard">
                                </i>
                            </button>
                                <template x-for="[key, step] in Object.entries(item.steps)" :key="key">
                                    <button type="button" class="btn btn-sm me-1" :class="{
                                            'btn-outline-secondary': step.status === 'pending',
                                            'btn-success': step.status === 'completed',
                                            'btn-danger': step.status === 'failed'
                                        }" :title="step.note || ''">
                                        <i :class="{
                                            'bi-clipboard': key === 'listed',
                                            'bi-box': key === 'shelved',
                                            'bi-person-check': key === 'ownerAssigned',
                                            'bi-cart-check': key === 'sold',
                                            'bi-truck': key === 'dispatched',
                                            'bi-house': key === 'delivered',
                                            'bi-hourglass-split': key === 'coolingOff',
                                            'bi-chat-dots': key === 'feedbackReceived',
                                            'bi-file-earmark-text': key === 'creditNoteIssued',
                                            'bi-check2-circle': key === 'creditNoteFulfilled'
                                        }">
                                        </i>
                                    </button>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {

    });

    function page() {
        return {
            items: {},
            sortedItems() {
                return this.items.sort((a, b) => new Date(b.addedTime) - new Date(a.addedTime));
            },
            init() {
                this.getItems();
                this.getUnshelvedItems()
            },
            getItems() {
                fetch("items", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                    },
                })
                .then(response => {
                        // Check if response is ok (status in the range 200-299)
                        if (!response.ok) {
                            return response.json().then(err => {
                                console.log(err)
                                throw new Error(err.error || 'An unknown error occurred');
                            });
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data)
                        this.items = data.items;        // Store the item data
                        this.showError = false;  // Hide any previous error
                    })
                    .catch(error => {
                        this.errorMessage = error.message || 'An unknown error occurred';
                        this.showError = true;   // Show the Bootstrap alert
                    });
            },
            getUnshelvedItems() {
                /* fetch("items-unshelved", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                    },
                    body: new URLSearchParams()
                })
                    .then(response => {
                        // Check if response is ok (status in the range 200-299)
                        if (!response.ok) {
                            return response.json().then(err => {
                                console.log(err)
                                throw new Error(err.error || 'An unknown error occurred');
                            });
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data)
                        this.items = data.items;        // Store the item data
                        this.showError = false;  // Hide any previous error
                    })
                    .catch(error => {
                        this.errorMessage = error.message || 'An unknown error occurred';
                        this.showError = true;   // Show the Bootstrap alert
                    }); */
            }
        }
    }
</script>