<h2 class="text-center mb-4">Warehouse Management</h2>
<div class="row justify-content-center mb-4">
    <div class="col-12 col-sm-6 col-md-4 mb-2 d-flex flex-column">
        <a href="/item-move" class="btn btn-primary btn-block mb-2">
            <i class="bi bi-bookshelf"></i> Shelve
        </a>
        <a href="/item-lookup" class="btn btn-primary btn-block mb-2">
            <i class="bi bi-search"></i> Lookup Item
        </a>
        <a href="/ebay-import-listing" class="btn btn-primary btn-block">
            <i class="bi bi-list-columns"></i> Import eBay Listing
        </a>
    </div>
</div>
