<div x-data="page()" class="row">
    <!-- Left Column (Main Content) -->
    <div class="col-lg-8 mb-4" x-show="item">
        <!-- Featured Image -->
        <img x-bind:src="item.imageURL" class="img-fluid rounded mb-4">

        <!-- Title/Description -->
        <section>
            <h2><span x-text="item.title"></span></h2>
            <p>The item's description can be viewed on eBay.</p>
        </section>

        <!-- Updates Section -->
        <section class="mt-5">
            <h2>Updates</h2>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        Listed on eBay
                    </h5>
                    <p class="card-text">
                        Item listed on eBay with ID
                        <a x-bind:href="item.ebayListingURL" class="link-primary" target="_blank">123456789</a>
                    </p>
                    <p class="card-text"><small class="text-muted"><span x-text="formatDate()"></span></small></p>
                </div>
            </div>
            <!-- Additional updates can be added similarly -->
        </section>
    </div>

    <!-- Right Column (Sidebar) -->
    <div class="col-lg-4" x-show="item">
        <!-- Shelf -->
        <section class="mb-4 p-4 bg-light rounded">
            <h4>Shelf</h4>
                <div class="input-group input-group">
                    <span class="input-group-text flex-grow-1" x-text="item.shelf"></span>
                    <button 
                        class="btn btn-outline-primary ms-auto" 
                        @click="window.location.href = '/item-move?id=' + item.id + '&shelf=' + item.shelf">
                        Change Shelf
                    </button>
                </div>
        </section>

        <!-- Owner / Source -->
        <section class="mb-4 p-4 bg-light rounded">
            <h4>Owner / Source</h4>
            <!-- <div class="d-flex align-items-center mb-3"> -->
                <!-- <img src="organizer.jpg" class="rounded-circle me-3" alt="Organizer" style="width: 60px; height: 60px;"> -->
                <div x-show="editing !== 'owner'">
                    <h5 class="mb-0"><span x-text="item.ownerDisplayName"></span></h5>
                    <p class="mb-0"><span x-text="item.freeagentOwnerID"></span></p>
                    <button @click="startEditingOwner()" class="btn btn-outline-primary w-100">
                        Change Owner/Source
                    </button>
                </div>
                <div x-show="editing === 'owner'">
                    <input type="text" x-model="contactSearchQuery" @input="filterContacts" placeholder="Search contacts..." class="form-control mb-2" />                    
                    <ul x-show="filteredContacts.length > 0" @click.away="closeDropdown" class="dropdown-menu show" style="position: absolute; z-index: 1000;">
                        <template x-for="contact in filteredContacts" :key="contact.id">
                            <li @click="selectContact(contact)" class="dropdown-item" x-text="contact.name" style="cursor: pointer;"></li>
                        </template>
                    </ul>
                    <div class="d-flex gap-2">
                        <button @click="editing = null" class="btn btn-danger w-50">
                            <i class="bi bi-x">Cancel</i>
                        </button>
                        <button @click="saveOwner()" class="btn btn-success w-50">
                            <i class="bi bi-check">Save</i>
                        </button>
                    </div>                    
                </div>
            <!-- </div> -->
            <!-- <p>Sam is organizing this fundraiser to repair his boat, damaged in a recent storm.</p> -->
        </section>

        <!-- Action Buttons -->
        <section class="mb-4 p-4 bg-light rounded">
            <h4>Item Actions</h4>
            <button @click="printShelfLabel()" x-bind:disabled="isPrinting" class="btn btn-primary w-100 mb-2">Print Shelf Label</button>
            <a x-bind:href="item.ebayListingURL" class="link-primary" target="_blank">
                <button class="btn btn-info w-100">View on eBay</button>
            </a>
        </section>
    </div>
</div>
<script src="/js/owner.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("id").focus();
});

function page() {
    return {
        id: "",
        editing: null,
        contacts: [],
        filteredContacts: [],
        contactSearchQuery: "",
        newOwnerID: "",
        isPrinting: false,
        item: null,
        init() {
            const urlParams = new URLSearchParams(window.location.search);
            this.id = urlParams.get('id') || '';
            if (this.id) {
                this.itemLookup()
            }
        },
        formatDate() {
            return moment(this.item.addedTime).fromNow();
        },
        itemLookup() {
            fetch("item-lookup", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: new URLSearchParams({ id: this.id })
            })
            .then(response => {
                // Check if response is ok (status in the range 200-299)
                if (!response.ok) {
                    return response.json().then(err => {
                        console.log(err)
                        throw new Error(err.error || 'An unknown error occurred');
                    });
                }
                return response.json();
            })
            .then(data => {
                this.item = data;        // Store the item data
                this.showError = false;  // Hide any previous error
            })
            .catch(error => {
                this.errorMessage = error.message || 'An unknown error occurred';
                this.showError = true;   // Show the Bootstrap alert
            });
        },
        contactsList() {
            fetch("contacts-list", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: new URLSearchParams({ id: this.id })
            })
            .then(response => {
                // Check if response is ok (status in the range 200-299)
                if (!response.ok) {
                    return response.json().then(err => {
                        throw new Error(err.error || 'An unknown error occurred');
                    });
                }
                return response.json();
            })
            .then(data => {
                this.contacts = data.contacts;        // Store the item data
                this.showError = false;  // Hide any previous error
            })
            .catch(error => {
                this.errorMessage = error.message || 'An unknown error occurred';
                this.showError = true;
            });
        },
        filterContacts() {
            this.filteredContacts = this.contacts.filter(contact => 
                contact.name.toLowerCase().includes(this.contactSearchQuery.toLowerCase())
            );
        },
        selectContact(contact) {
            this.contactSearchQuery = contact.name;
            this.newOwnerID = contact.id;
            this.filteredContacts = [];
        },
        startEditingOwner() {
            this.editing = 'owner'
            this.contactsList()
        },
        saveOwner() {
            fetch("owner-save", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: new URLSearchParams({ id: this.id, ownerId: this.newOwnerID, newOwnerName: this.contactSearchQuery })
            })
            .then(response => {
                // Check if response is ok (status in the range 200-299)
                if (!response.ok) {
                    return response.json().then(err => {
                        throw new Error(err.error || 'An unknown error occurred');
                    });
                }
                return response.json();
            })
            .then(data => {
                this.item.ownerDisplayName = this.contactSearchQuery;
                this.item.freeagentOwnerID = this.newOwnerID;
                this.editing = null;
                this.filteredContacts = [];
                this.showError = false;  // Hide any previous error
            })
            .catch(error => {
                this.errorMessage = error.message || 'An unknown error occurred';
                this.showError = true;   // Show the Bootstrap alert
            });
        },
        closeDropdown() {
            this.filteredContacts = [];
        },
        printShelfLabel() {
            this.isPrinting = true;

            fetch("item-print-shelf-label", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: new URLSearchParams({ id: this.id })
            })
            .then(response => {
                // Check if response is ok (status in the range 200-299)
                if (!response.ok) {
                    return response.json().then(err => {
                        throw new Error(err.error || 'An unknown error occurred');
                    });
                }
                return response.json();
            })
            .then(data => {
                this.showError = false;  // Hide any previous error

                this.isPrinting = false;
            })
            .catch(error => {
                this.errorMessage = error.message || 'An unknown error occurred';
                this.showError = true;   // Show the Bootstrap alert
                this.isPrinting = false;
            });
        }
    }
}
</script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>