<div x-data="page()">
    <h2 class="text-center">Lookup Item</h2>

    <form @submit.prevent="itemLookup()" class="bg-white col-12 col-md-6 mx-auto p-4 rounded shadow">
        <input id="id" type="text" x-model="id" placeholder="Enter Item ID" autocomplete="off" class="form-control mb-3 w-100" required>
        <button id="lookup-button" type="submit" class="btn btn-success w-100">Find Item</button>
    </form>

    <div x-show="item" class="bg-white col-12 col-md-6 mx-auto p-4 rounded shadow mt-4">
        <h2 class="mb-3">Item ID: <span x-text="item.id"></span></h4>
        <h4 class="mb-3">
            Shelf: <span x-text="item.shelf"></span>
            <a :href="'/item-move?id=' + item.id + '&shelf=' + item.shelf" class="btn btn-primary btn-block w-100">Move</a>
        </h3>
        <template x-for="ebayReference in item.ebayReferences">
            <div>
                <img x-bind:src="ebayReference.imageURL" class="img-fluid rounded mb-3" alt="Item Image" style="max-width: 150px;">
                <p><a x-bind:href="ebayReference.listingURL" class="link-primary" target="_blank">eBay: <span x-text="ebayReference.title"></span></a></p>
                <button @click="printShelfLabel()" class="btn btn-success w-100">Print Shelf Label</button>
            </div>
        </template>
    </div>

</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("id").focus();
});

function page() {
    return {
        id: "",
        item: null,
        init() {
            const urlParams = new URLSearchParams(window.location.search);
            this.id = urlParams.get('id') || '';
            if (this.id) {
                this.itemLookup()
            }
        },
        itemLookup() {
            console.log("Lookup item: ", this.id);

            fetch("item-lookup", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: new URLSearchParams({ id: this.id })
            })
            .then(response => {
                if (!response.ok) throw new Error()
                return response.json()
            })
            .then(data => {
                this.item = data
                console.log(this.item)
            })
            .catch(error => {
                alert(error.message.Error)
            })
        },
        printShelfLabel() {
            console.log("Printing shelf label for item: ", this.id);

            fetch("item-print-shelf-label", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: new URLSearchParams({ id: this.id })
            })
            .then(response => {
                if (!response.ok) throw new Error()
                return response.json()
            })
            .then(data => {
                console.log(this.item)
            })
            .catch(error => {
                alert(error.message.Error)
            })
        }
    }
}
</script>