<div x-data="page()">
    <h2 class="text-center">Lookup Item</h2>

    <form @submit.prevent="itemLookup()" class="bg-white w-50 mx-auto p-4 rounded shadow">
        <input id="itemID" type="text" x-model="itemID" placeholder="Enter Item ID" maxlength="7" autocomplete="off" required>
        <button type="submit" class="btn btn-success">Find Item</button>
    </form>

    <div x-show="item" class="bg-white w-50 mx-auto p-4 rounded shadow">
        <h2 class="mb-3">Item ID: <span x-text="item.id"></span></h4>
        <h4 class="mb-3">Shelf: <span x-text="item.shelf"></span></h3>
        <img x-bind:src="item.image" class="img-fluid rounded mb-3" alt="Item Image" style="max-width: 150px;">
        <p><a x-bind:href="item.link" class="link-primary" target="_blank">View item on eBay</a></p>
        <button @click="printShelfLabel()" class="btn btn-success">Print Shelf Label</button>
    </div>

</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("itemID").focus();
});

function page() {
    return {
        itemID: "",
        item: null,
        itemLookup() {
            console.log("Lookup item: ", this.itemID);

            fetch("item-lookup", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: new URLSearchParams({ itemID: this.itemID })
            })
            .then(response => {
                if (!response.ok) throw new Error()
                return response.json()
            })
            .then(data => {
                this.item = data
                console.log(this.item)
            })
            .catch(error => {
                alert(error.message)
            })
        },
        printShelfLabel() {
            console.log("Printing shelf label for item: ", this.itemID);

            fetch("item-print-shelf-label", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: new URLSearchParams({ itemID: this.itemID })
            })
            .then(response => {
                if (!response.ok) throw new Error()
                return response.json()
            })
            .then(data => {
                console.log(this.item)
            })
            .catch(error => {
                alert(error.message)
            })
        }
    }
}
</script>